

<div class="row">
  <div class="col s12 m8">
    <h2 class="header">Nuevo Reto</h2>
    <div class="card horizontal">
      <div class="card-image"><img src="https://lorempixel.com/100/550/nature/6" alt=""></div>
      <div class="card-stacked">
        <div class="card-content">
          <%= render 'form' %>
        </div>
        <div class="card-action">
          <%= link_to 'Atrás', challenges_path %>
        </div>
      </div>
    </div>
  </div>
</div>


